services:
    PhpAmqpLib\Connection\AMQPStreamConnection:
        arguments:
            - '%marfatech_rabbit_queue.connection.host%'
            - '%marfatech_rabbit_queue.connection.port%'
            - '%marfatech_rabbit_queue.connection.username%'
            - '%marfatech_rabbit_queue.connection.password%'
            - '%marfatech_rabbit_queue.connection.vhost%'
            - false
            - 'AMQPLAIN'
            - ~
            - 'en_US'
            - '%marfatech_rabbit_queue.connection.connection_timeout%'
            - '%marfatech_rabbit_queue.connection.read_write_timeout%'
            - ~
            - false
            - '%marfatech_rabbit_queue.connection.heartbeat%'

    MarfaTech\Bundle\RabbitQueueBundle\Registry\ConsumerRegistry:
        arguments:
            - !tagged_locator { tag: !php/const MarfaTech\Bundle\RabbitQueueBundle\Consumer\ConsumerInterface::TAG, default_index_method: 'getName' }

    MarfaTech\Bundle\RabbitQueueBundle\Registry\PublisherRegistry:
        arguments:
            - !tagged_locator { tag: !php/const MarfaTech\Bundle\RabbitQueueBundle\Publisher\PublisherInterface::TAG, default_index_method: 'getQueueType' }

    MarfaTech\Bundle\RabbitQueueBundle\Registry\DefinitionRegistry:
        arguments:
            - !tagged_locator { tag: !php/const MarfaTech\Bundle\RabbitQueueBundle\Definition\DefinitionInterface::TAG, default_index_method: 'getQueueName' }

    MarfaTech\Bundle\RabbitQueueBundle\Registry\HydratorRegistry:
        arguments:
            - !tagged_locator { tag: !php/const MarfaTech\Bundle\RabbitQueueBundle\Hydrator\HydratorInterface::TAG, default_index_method: 'getKey' }

    MarfaTech\Bundle\RabbitQueueBundle\Hydrator\JsonHydrator:
        tags:
            - { name: !php/const MarfaTech\Bundle\RabbitQueueBundle\Hydrator\HydratorInterface::TAG, default_index_method: 'getKey' }

    MarfaTech\Bundle\RabbitQueueBundle\Hydrator\PlainTextHydrator:
        tags:
            - { name: !php/const MarfaTech\Bundle\RabbitQueueBundle\Hydrator\HydratorInterface::TAG, default_index_method: 'getKey' }

    MarfaTech\Bundle\RabbitQueueBundle\Publisher\AbstractPublisher:
        arguments:
            - '@MarfaTech\Bundle\RabbitQueueBundle\Client\RabbitMqClient'
            - '@MarfaTech\Bundle\RabbitQueueBundle\Registry\HydratorRegistry'
            - '%marfatech_rabbit_queue.hydrator_name%'

    MarfaTech\Bundle\RabbitQueueBundle\Publisher\FifoPublisher:
        parent: 'MarfaTech\Bundle\RabbitQueueBundle\Publisher\AbstractPublisher'
        tags:
            - { name: !php/const MarfaTech\Bundle\RabbitQueueBundle\Publisher\PublisherInterface::TAG, default_index_method: 'getQueueType' }

    MarfaTech\Bundle\RabbitQueueBundle\Publisher\DelayPublisher:
        parent: 'MarfaTech\Bundle\RabbitQueueBundle\Publisher\AbstractPublisher'
        tags:
            - { name: !php/const MarfaTech\Bundle\RabbitQueueBundle\Publisher\PublisherInterface::TAG, default_index_method: 'getQueueType' }

    MarfaTech\Bundle\RabbitQueueBundle\Publisher\DeduplicateDelayPublisher:
        parent: 'MarfaTech\Bundle\RabbitQueueBundle\Publisher\AbstractPublisher'
        tags:
            - { name: !php/const MarfaTech\Bundle\RabbitQueueBundle\Publisher\PublisherInterface::TAG, default_index_method: 'getQueueType' }

    MarfaTech\Bundle\RabbitQueueBundle\Publisher\DeduplicatePublisher:
        parent: 'MarfaTech\Bundle\RabbitQueueBundle\Publisher\AbstractPublisher'
        tags:
            - { name: !php/const MarfaTech\Bundle\RabbitQueueBundle\Publisher\PublisherInterface::TAG, default_index_method: 'getQueueType' }

    MarfaTech\Bundle\RabbitQueueBundle\Producer\RabbitMqProducer:
        arguments:
            - '@MarfaTech\Bundle\RabbitQueueBundle\Registry\DefinitionRegistry'
            - '@MarfaTech\Bundle\RabbitQueueBundle\Registry\HydratorRegistry'
            - '@MarfaTech\Bundle\RabbitQueueBundle\Registry\PublisherRegistry'
            - '%marfatech_rabbit_queue.hydrator_name%'

    MarfaTech\Bundle\RabbitQueueBundle\Producer\RabbitMqProducerInterface: '@MarfaTech\Bundle\RabbitQueueBundle\Producer\RabbitMqProducer'

    MarfaTech\Bundle\RabbitQueueBundle\Command\ConsumerListCommand:
        calls:
            - [ 'dependencyInjection', [ '@MarfaTech\Bundle\RabbitQueueBundle\Registry\ConsumerRegistry'] ]
        tags: [ 'console.command' ]

    MarfaTech\Bundle\RabbitQueueBundle\Command\ConsumerRunCommand:
        calls:
            - ['dependencyInjection', [ '@MarfaTech\Bundle\RabbitQueueBundle\Registry\ConsumerRegistry', '@MarfaTech\Bundle\RabbitQueueBundle\Client\RabbitMqClient', '@MarfaTech\Bundle\RabbitQueueBundle\Registry\DefinitionRegistry', '@Symfony\Component\DependencyInjection\ParameterBag\ParameterBagInterface', '@?logger' ]]
        tags: [ 'console.command' ]

    MarfaTech\Bundle\RabbitQueueBundle\Command\UpdateDefinitionCommand:
        calls:
            - [ 'dependencyInjection', [ '@PhpAmqpLib\Connection\AMQPStreamConnection' ] ]
            - [ 'setDefinitionList', [ !tagged_iterator { tag: !php/const MarfaTech\Bundle\RabbitQueueBundle\Definition\DefinitionInterface::TAG, default_index_method: 'getQueueName' } ] ]
        tags: [ 'console.command' ]

    MarfaTech\Bundle\RabbitQueueBundle\Client\RabbitMqClient:
        arguments:
            - '@PhpAmqpLib\Connection\AMQPStreamConnection'
